name: Test & Lint

on:
  push:
    branches: 
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e '.[tests]'
    - name: Lint with flake8
      run: |
        make lint
    - name: Run the test suite
      run: |
        make test
    - uses: actions/upload-artifact@v3
      with:
        name: coverage
        path: .coverage.xml

  report-coverage:
      runs-on: ubuntu-latest
      needs: [build]
      if: github.event_name == 'pull_request'
      steps:
        - name: Download tests coverage report
          uses: actions/download-artifact@v3
          with:
            name: coverage
        - name: Report Coverage and annotate PR (if exists) 
          uses: orgoro/coverage@v2
          with:
              coverageFile: .coverage.xml
              token: ${{ secrets.GITHUB_TOKEN }}
              thresholdAll: 0.50
              thresholdNew: 0.90
              thresholdModified: 0.0 

  license:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: License Eye Header Check
      uses: apache/skywalking-eyes/header@v0.4.0
